
<h1><%= @place["name"] %></h1>

<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<h2>My Entries</h2>
<div class="row">
    <% for entry in @entries %>
      <div class="col-sm-6 col-md-4">
            <h5><%= entry["title"] %></h5>
            <p><strong><%= entry["occurred_on"] %></strong></p>
            <p><em><%= entry["description"] %></em></p>
            
            <!--check if image uploaded or linked-->
            <% if entry.uploaded_image.attached? %>
              <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="<%= entry["image"] %>" class="img-fluid">
            <% end %>
            
      </div>
    <% end %>
</div>

<p>
  <a class="btn btn-dark" href="/places">Back to All Places</a>
</p>